#python-dateutil
Scrapy
#XlsxWriter
boto
botocore
# ImportError: cannot import name 'SSLv3_METHOD' from 'OpenSSL.SSL'
pyopenssl==22.0.0

# AttributeError: module 'lib' has no attribute 'OpenSSL_add_all_algorithms'
#cryptography==38.0.4